@model Product

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Kategori Seç
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>
<hr />

<form asp-controller="Product" asp-action="Ekle" method="post">
<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Ürün adı</span>
    <input type="text" class="form-control" asp-for="Name" >
</div>
<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Fiyat</span>
    <input type="text" class="form-control" asp-for="Price" >
</div>
<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Açıklama</span>
        <input type="text" class="form-control" asp-for="Description">
</div>
<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Resim</span>
        <input type="text" class="form-control" asp-for="Image">
</div>
    <button type="submit" asp-controller="Product" asp-action="Ekle" class="btn btn-primary">Ekle</button>
</form> 